.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-align: center;
  height: 30px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav a:hover {
  background-color: #575757;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.active {
  background-color: #575757;
}
